<center><h3>Hello, <%=name%>! How old are you?</h3></center>

<input type='text' name='name_input' value= <%=name%> hidden>

<form method="post" action="/age">
	<input type="numbers" name="age_input">
	<input type='submit' value = 'Push It'>
</form>