<html>

<head>
<link href="css/style.css" rel="stylesheet">
</head>

<div class="navbar_color"><h1><p class="headline_color center">Personal Details</p></h1>

	<div class="center"><a href="/" class="headline_color">Try Again</a>
	</div>
</div>


<%=yield%>


</html>
<footer>

<div class="navbar_color">
<p class="center">Posted by: April Blair</p>
<p>Contact Information: <a href="http://minedminds.org">Mined Minds website</a>.</p>
</div>
</footer>